@model IEnumerable<EasyLearningLTD.Domain.TutorRatingDomain>


<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Student" asp-action="CourseCard">Student Services</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Tutors" asp-action="TutorRegistration">Tutor Registration</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Tutor" asp-action="TutorRating">Rate Your Tutor</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">View Tutor Rating</a>
    </li>


</ul>
<br />

<h2 style="color:black">Tutor Ratings</h2>

<form asp-action="SearchResult">

    <div class="form-group">
        <label for="SearchTerm" class="control-label"></label>
        <input name="SearchTerm" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>


</form>

<br />



<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="col mb-4">
            <div class="card h-100 w-100">
                <img src="..." class="card-img-top" alt="">
                <div class="card-body">
                    <h5>  @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)</h5>

                    <p> Overall Rating: @Html.DisplayFor(modelItem => item.OverAllRating) /5</p>

                    <p> TutorID: @Html.DisplayFor(modelItem => item.Id)</p>

                    <a asp-action="DisplayRatingDetails" asp-route-id="@item.Id" > Detail</a>
                </div>
            </div>
        </div>
    }
</div>
